"${mapCanvasId}": {
    "id": "${mapCanvasId}",
    "type": "googlemap",
    "module": "jasperreports-map",
    "instanceData" : {
        "requestParams": "${reqParams}",
        "key": "${key}",
        "language": "${language}",
        "v": "${v}",
        "client": "${client}",
        "signature": "${signature}",
        "latitude": ${latitude},
        "longitude": ${longitude},
        "zoom": ${zoom},
        "mapType": "${mapType}",
        "useMarkerClustering": ${useMarkerClustering},
        "useMarkerSpidering": ${useMarkerSpidering},
        "defaultMarkerIcon": "${defaultMarkerIcon}",
        "markerList": ${markerList},
        "pathsList": ${pathsList},
        "legendProperties": ${legendProperties},
        "resetMapProperties": ${resetMapProperties}
    }
}
